body .ct-p1 {
  position: absolute;
  width: 300px;
  top: 100px;
  left: 50%;
  margin-left: -502px; }
  body .ct-p1 img.avatar {
    width: 96px;
    height: 96px;
    border-radius: 96px;
    border: solid 4px rgba(255, 255, 255, 0.3);
    margin-bottom: 20px; }
  body .ct-p1 .developer a {
    font-weight: bold; }
  body .ct-p1 .stat a {
    font-weight: bold; }
  body .ct-p1 .stat .lines {
    margin-left: 24px; }
  body .record {
    position: absolute;
    width: 163px;
    top: 312px;
    left: 46%;
  }